.device {
    width: 100%;
    border-radius: 0.7rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    box-sizing: border-box;
    margin: 30px auto;
    width: 100%;
    max-width: 500px;
    position: relative;
    box-shadow: 6px 5px 30px -8px rgba(131, 130, 130, 0.75);
    animation: popup 1.3s ease;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}


.active {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #08804e;
    border-radius: 1rem;
    padding: 6px;
}

.notActive {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: gray;
    border-radius: 1rem;
    padding: 6px;
}

.image_container_notActive {
    border-radius: 2rem;
    cursor: pointer;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    background-color: rgba(140, 138, 138, 0.484);
    margin-bottom: 30px;
    animation: move_animation 10s infinite;
    transition: all 1s ease;
}

.image_container_isActive {
    cursor: pointer;
    border-radius: 2rem;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 9px #075cc4b1;
    background-color: #075cc4b1;
    margin-bottom: 30px;
    animation: move_animation 10s infinite;
}


.waterpump {
    border-radius: 1rem;
}

.caption {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bolder;
    text-align: center;
}

.card_menu_list {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6px;
    color: black;
    font-size: 1.3rem;
    border-top: 1px solid rgb(230, 227, 227);
    border-radius: 0 0 0.7rem 0.7rem;

}

.card_menu_list li {
    padding: 10px;
}

.device_session {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.device_session:hover {
    color: #0457bc;
}

.device_info {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.device_info:hover {
    color: #0457bc;
}

@keyframes move_animation {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@keyframes move_animation_stable {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 2rem;
    }
}



.bigBubble {
    transition: all 1s ease-in-out;
    opacity: 0.6;
    position: absolute;
    top: 30%;
    right: 10%;
    margin: auto;
    border-radius: 50%;
    background: #c1f1ff;
    height: 35px;
    width: 35px;
    border: 4px solid #c1f1ff;
    -moz-box-shadow: #e0f9ff 8px 0px 0px inset;
    -webkit-box-shadow: #e0f9ff 8px 0px 0px inset;
    box-shadow: #e0f9ff 8px 0px 0px inset;
    -webkit-animation-duration: 0.05s, 5s;
    animation-duration: 0.05s, 5s;
    -webkit-animation-delay: 0.9s, 1s;
    animation-delay: 0.9s, 1s;
}

.bigBubble_notActive {
    transition: all 1s ease-in-out;
    opacity: 0.6;
    position: absolute;
    top: 30%;
    right: 10%;
    margin: auto;
    border-radius: 50%;
    background: rgb(185, 184, 184);
    height: 35px;
    width: 35px;
    border: 4px solid rgb(185, 184, 184);
    box-shadow: #cdcdcd 8px 0px 0px inset;
    animation-duration: 0.05s, 5s;
    animation-delay: 0.9s, 1s;
}

.mediumBubble {
    opacity: 0.6;
    transition: all 1s ease-in-out;
    position: absolute;
    bottom: 10%;
    margin: auto;
    border-radius: 50%;
    background: #c1f1ff;
    top: 130px;
    left: 20px;
    height: 25px;
    width: 25px;
    border: 4px solid #c1f1ff;
    -moz-box-shadow: #e0f9ff 5px 0px 0px inset;
    -webkit-box-shadow: #e0f9ff 5px 0px 0px inset;
    box-shadow: #e0f9ff 5px 0px 0px inset;
    -webkit-animation-duration: 0.05s, 4.9s;
    animation-duration: 0.05s, 4.9s;
    -webkit-animation-delay: 0.8s, 1s;
    animation-delay: 0.8s, 1s;
}

.mediumBubble_notActive {
    opacity: 0.6;
    transition: all 1s ease-in-out;
    position: absolute;
    bottom: 10%;
    margin: auto;
    border-radius: 50%;
    background: rgb(185, 184, 184);
    top: 130px;
    left: 20px;
    height: 25px;
    width: 25px;
    border: 4px solid rgb(185, 184, 184);
    -moz-box-shadow: #e0f9ff 5px 0px 0px inset;
    -webkit-box-shadow: #e0f9ff 5px 0px 0px inset;
    box-shadow: #cdcdcd 8px 0px 0px inset;
    -webkit-animation-duration: 0.05s, 4.9s;
    animation-duration: 0.05s, 4.9s;
    -webkit-animation-delay: 0.8s, 1s;
    animation-delay: 0.8s, 1s;
}

.smallBubble {
    transition: all 1s ease-in-out;
    opacity: 0.6;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    background: #c1f1ff;
    top: 40px;
    left: 30%;
    height: 15px;
    width: 15px;
    border: 4px solid #c1f1ff;
    box-shadow: #e0f9ff 3px 0px 0px inset;
    animation-duration: 0.05s, 4.6s;
    animation-delay: 0.7s, 1s;
}

.smallBubble_notActive {
    transition: all 1s ease-in-out;
    opacity: 0.6;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    background: rgb(185, 184, 184);
    top: 40px;
    left: 30%;
    height: 15px;
    width: 15px;
    border: 4px solid rgb(185, 184, 184);
    box-shadow: #cdcdcd 8px 0px 0px inset;
    animation-duration: 0.05s, 4.6s;
    animation-delay: 0.7s, 1s;
}



@keyframes popup {
    from {
        transform: translateY(20px);
        opacity: 0.5;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (min-width:700px) {
    .device {
        width: 45%;
    }

    .device:hover {
        transform: translateY(-10px);
        box-shadow: 2px 17px 27px -9px rgba(181, 166, 166, 0.75);
    }

    .device:hover .bigBubble {
        right: 20%;

    }

    .device:hover .mediumBubble {
        left: 60px;
    }

    .device:hover .smallBubble {
        top: 30%;
    }

    .device:hover .image_container_isActive {
        animation: move_animation_stable 1s ease;
    }

    .device:hover .bigBubble_notActive {
        right: 20%;
    }

    .device:hover .mediumBubble_notActive {
        left: 60px;
    }

    .device:hover .smallBubble_notActive {
        top: 30%;
    }
}

@media screen and (min-width:900px) {
    .device {
        width: 45%;
        margin: 20px 0;
    }



}

@media screen and (min-width:1100px) {
    .device {
        width: 30%;
        margin: 20px 0;
    }



}