.login{
   width: 100%;
    min-height:calc(100svh - 60px);
   overflow: hidden;
   display: flex;
   flex-direction:column;
   justify-content:space-around;
   align-items: center;
   position: relative;
   color:black;
   padding:20px;
}
.login_computer_header{
    display: none;
}

.register_company_header {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
}
.login_header{
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 1rem;
    
}
.login_container{
    width: 100%;

}
.kind_title {
    text-align: center;
}
.login_des{
   display: flex;
   margin-top: 20px;
   justify-content: start;
   width: 100%;
   padding:10px;
   color:#075cc4f5;
}
.login_form{
    width: 100%; 
}

.login_email{
    background-color: white;
    border:1px solid rgb(181, 181, 181);
    border-radius: 0.4rem;
    width: 90%;
    padding: 10px 20px;
    outline:none;
    animation: popup 1.2s ease;
    
}
.login_email_title{
    margin-bottom: 10px;
    color:gray;
    font-size: 14px;
    
   
}

.login_password{
    background-color: white;
        border:1px solid rgb(171, 171, 171);
        border-radius: 0.4rem;
        width: 90%;
        padding:10px 20px;
        outline: none;
animation: popup 1.2s ease;

     
}
.login_password_title{
    margin-bottom: 10px;
        color: gray;
        font-size: 14px;
}
.forget_password{
    color: #075cc4f5;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 10%;
   
}
.login_button{
    border:2px solid #075cc4f5;
    width: 80%;
    background-color: #075cc4f5;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    border-radius: 0.2rem;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    color:white;
    box-shadow: 3px 6px 7px 0px rgba(7, 92, 196, 0.488);
    animation: popup 1.2s ease;
}
.login_button:hover{
    background-color: white;
    border:2px solid #075cc4f5;
    color:#075cc4f5;

}
.singup{
    font-size: 14px;
    margin-top: 15%;
}
.signup_span{
    color:#075cc4f5;
    margin-left: 15px;
    cursor: pointer;
}
.email_div{
    margin-top: 20px;
}
.password_div{
    margin-top: 20px;
}
.button_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble{
    width: 200px;
    height: 200px;
    position:absolute;
    background-color: #075cc4f5;
    top:0;
    right: 0;
    border-radius: 100%;
    z-index: -1;
    transform: translate(80px,-80px);
    opacity:0.8;
    animation: move3 1s ease-in-out;
   
}




.bubble2 {
    display: none;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    background: linear-gradient(to left, #0f4688f5, #2a6fc2f5);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 30px;
    margin-top: 160px;
    bottom:140px;
    left:-38px;
    z-index: -1;
    animation: move1 1s ease;
}

.bubble1{
    display: none;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 30px;
    margin-top: 160px;
    bottom: 20px;
    right: 20px;
    animation: move2 2s ease;
}
.bubble1::before{
    content: "";
        position: absolute;
        display: block;
        top: 5px;
        left: 7px;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background: #075cc4f5;
        opacity: 0.8;
        overflow: hidden;
}

.bubble2:before {
    content: "";
    position: absolute;
    display: block;
    top: 5px;
    left: 7px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #075cc4f5;
    opacity: 0.8;
    overflow: hidden;
}

.bubble2:after {
    content: "";
    position: absolute;
    display: block;
    top: 15px;
    left: 40px;
    height: 10px;
    width: 5px;
    border-radius: 50%;
    background: white;
    overflow: hidden;
}
.bubble1::after{
    content: "";
        position: absolute;
        display: block;
        top: 15px;
        left: 40px;
        height: 10px;
        width: 5px;
        border-radius: 50%;
        background: white;
        overflow: hidden;
}

@keyframes move1 {
from {
        transform: translateX(-400%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes move2 {
    
    from {
            transform: translateX(400%);
        }
    
        to {
           transform: translateX(0%);
        }
}

@keyframes move3{
    from {
            transform: translate(200px, -80px);
        }
    
        to {
                    transform: translate(80px, -80px);
        }
}

@keyframes popup{
    from{
      transform: translateY(20px);
      opacity: 0.5;
    }
    to{
      transform:translateY(0px);
      opacity: 1;
    }
}


@media screen and (min-width:400px) {
    .bubble1{
        display: initial;
    }
    .bubble2{
        display: initial;
    }
}



@media screen and (min-width:720px) {
.login_container{
width:80%;
/* box-shadow: 3px 3px 14px 0px rgba(181, 181, 181, 0.75); */
padding:50px;
border-radius: 1rem;
}
.login_button{
    
    padding: 10px;
}
.forget_password{
font-size: 1rem;
}
.login_des{
    font-size:1rem;
}
}


@media screen and (min-width:900px) {

    .login{
      justify-content: center;
    }
    .login_header{
        display: none;
    }
    .login_form{
    width: 100%;
    }
    .email_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .password_div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    .company_name{
        font-size:1.2rem;
        font-weight: bold;
        text-align: center;

    }
    .login_computer_header {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:80%;
        box-sizing: border-box;
        padding-bottom: 50px;
        gap:1rem;
        margin-right: 20px;
        animation: popup 2s ease;
    }
    .login_container {
        width:80%;
        box-shadow: 3px 3px 14px 0px rgba(181, 181, 181, 0.75);
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
    }

    .login_button {

        padding: 10px;
    }

    .forget_password {
        font-size: 1rem;
    }

    .login_des {
        font-size: 1rem;
    }
    .login_email{
        animation: popup 1.2s ease;
    }
    .login_password{
        animation: popup 1.5s ease;
    }
    .login_button{
        animation: popup 2s ease;
    }
}


@media screen and (min-width:1000px) {
    .login_container {
        width:740px;
    }

   
}







