.water_circle_container {
    position: relative;

}


.water_circle_container_one_wave_one {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #c9c7c7c4;
    box-shadow: inset 0 0 20px 0 #6b6a6ac4;
    position: relative;
    border: 1px solid rgb(93, 93, 93);
    overflow: hidden;
    z-index: -1;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
